<apex:page standardController="skyplatform__Message__c" extensions="skyplatform.MessageController" action="{!start}" sidebar="true">
    <apex:form id="form">

		<apex:sectionHeader title="Message" subTitle="New Message" description="Creates and sends a new {!messageStream.skyplatform__Type__c} Message from {!messageStream.skyplatform__User_Phone__c} to {!messageStream.skyplatform__External_Phone__c}" />  

        <apex:pageBlock id="topBlock"  >
           	<apex:pageMessages id="pm"/>

				<apex:pageBlockButtons location="top" > 
                	<apex:commandButton value="Send" action="{!send}" />
                	<apex:commandButton value="Cancel" action="{!cancel}" />
               </apex:pageBlockButtons> 

           	<apex:pageBlockSection columns="1">
           	
           		<apex:inputField value="{!message.skyplatform__Message_Body__c}" rendered="{!richTextSupported}" />
           		<apex:inputTextArea label="Message Body Text" cols="80" rows="3" value="{!messageText}" rendered="{!!richTextSupported}" />
           	</apex:pageBlockSection> 
        </apex:pageBlock>
           	               
    </apex:form>
</apex:page>