<apex:page docType="html-5.0" id="twilioOutboundCallPage" title="Outgoing Phone Call" standardStylesheets="false" controller="upr_twilioOutboundCallCustomCtrl" extensions="upr_twilioTaskRemoteJS" showHeader="false" sidebar="false" >
    <head>
        <meta charset="utf-8"/>
        <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" />
        <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <style type="text/css">
            body {
                background-color: #ECEEEF;
            }
            

            .btn-mute {
                -webkit-border-radius: 10;
                -moz-border-radius: 10;
                border-radius: 10px;
                font-family: Arial;
                color: #000000;
                font-size: 14px;
                font-weight:700;
                background: #e8e8e9;
                padding: 5px 35px 5px 35px;
                text-decoration: none;
            }

            .btn-mute:hover {
                background: #e8e8e9;
                color: #ffffff;
                background-image: -webkit-linear-gradient(top, #e8e8e9, #575757);
                background-image: -moz-linear-gradient(top, #e8e8e9, #575757);
                background-image: -ms-linear-gradient(top, #e8e8e9, #575757);
                background-image: -o-linear-gradient(top, #e8e8e9, #575757);
                background-image: linear-gradient(to bottom, #e8e8e9, #575757);
                text-decoration: none;
            }

            .btn-unmute {
              -webkit-border-radius: 10;
              -moz-border-radius: 10;
              border-radius: 10px;
              background: #e8e8e9;
              font-family: Arial;
              color: #ffffff;
              background-image: -webkit-linear-gradient(top, #e8e8e9, #575757);
              background-image: -moz-linear-gradient(top, #e8e8e9, #575757);
              background-image: -ms-linear-gradient(top, #e8e8e9, #575757);
              background-image: -o-linear-gradient(top, #e8e8e9, #575757);
              background-image: linear-gradient(to bottom, #e8e8e9, #575757);
              text-decoration: none;
              font-size: 14px;
              font-weight:700;
              padding: 5px 35px 5px 35px;
              text-decoration: none;
            }

            .btn-unmute:hover {
              -webkit-border-radius: 10;
              -moz-border-radius: 10;
              border-radius: 10px;
              font-family: Arial;
              color: #000000;
              font-size: 14px;
              font-weight:700;
              background: #e8e8e9;
              padding: 5px 35px 5px 35px;
              text-decoration: none;
            }

            .btn-call {
              -webkit-border-radius: 10;
              -moz-border-radius: 10;
              border-radius: 10px;
              font-family: Arial;
              color: #000000;
              font-size: 14px;
              font-weight:700;
              background: #e8e8e9;
              padding: 5px 35px 5px 35px;
              text-decoration: none;
            }

            .btn-call:hover {
              background: #e8e8e9;
              background-image: -webkit-linear-gradient(top, #e8e8e9, #0eeb28);
              background-image: -moz-linear-gradient(top, #e8e8e9, #0eeb28);
              background-image: -ms-linear-gradient(top, #e8e8e9, #0eeb28);
              background-image: -o-linear-gradient(top, #e8e8e9, #0eeb28);
              background-image: linear-gradient(to bottom, #e8e8e9, #0eeb28);
              text-decoration: none;
            }

            .btn-hang {
              -webkit-border-radius: 10;
              -moz-border-radius: 10;
              border-radius: 10px;
              font-family: Arial;
              color: #000000;
              font-size: 14px;
              font-weight:700;
              background: #e8e8e9;
              padding: 5px 25px 5px 25px;
              text-decoration: none;
            }

            .btn-hang:hover {
              background: #e8e8e9;
              background-image: -webkit-linear-gradient(top, #e8e8e9, #eb0e0e);
              background-image: -moz-linear-gradient(top, #e8e8e9, #eb0e0e);
              background-image: -ms-linear-gradient(top, #e8e8e9, #eb0e0e);
              background-image: -o-linear-gradient(top, #e8e8e9, #eb0e0e);
              background-image: linear-gradient(to bottom, #e8e8e9, #eb0e0e);
              text-decoration: none;
            }

            #toolbar {
                padding: 4px;
                display: inline-block;
            }

          </style>
        <script type="text/javascript">
            // pass the Capability Token to the Device
            Twilio.Device.setup("{! token }", { debug: true, rtc: true });
            var twilioCallSID = '';
            var phoneNumberToCall = '';
            function call() {
                if(!atLeastOneRadio()){
                    alert('Please select a phone number');
                    return;
                } else {
                    // get the phone number to connect the call to
                    phoneNumberToCall = $("table[id$=selectPhoneNum] input[type='radio']:checked").val();
                    alert('Outgoing Phone Call to: ' + phoneNumberToCall);
                    // alert('{!JSENCODE(clientPhone)}');
                    alert('Outgoing Phone Call from: {!JSENCODE(clientStatePhone)}');
                    var params = { "To": phoneNumberToCall,
                        "From": '{!JSENCODE(clientStatePhone)}'};
                        // params = { "PhoneNumber": '{!JSENCODE(clientStatePhone)}'};
                    Twilio.Device.connect(params);
                    $('#callButtonDiv').toggle();
                    $('#hangupButtonsDiv').toggle();
                }
            }

            Twilio.Device.ready(function (device) {
                $('#status').text('Ready to start call');
            });

            Twilio.Device.error(function (error) {
                $('#status').text(error);
            });
         
            Twilio.Device.connect(function (conn) {
                var d = new Date();
                var ph = phoneNumberToCall;
                $('#activityDesc').val('Call to ' + ph + ' on ' + (d.getMonth()+1) + '-' + d.getDate() + '-' + d.getFullYear() + ' at ' + d.getHours() + ':' + d.getMinutes() + '\n\n' );
                $("table[id$=selectPhoneNum] input:radio").each(function (i, x){
                    $(x).attr("disabled","disabled");
                });
                $('#status').text("Successfully established call");
            });
         
            Twilio.Device.disconnect(function (conn) {
                $('#status').text("Call ended");
            });

            function connectionCallSID() {
                var connection = Twilio.Device.activeConnection();
                twilioCallSID = connection.parameters.CallSid;
            }

            function hangup() {
                var connection = Twilio.Device.activeConnection();
                connectionCallSID();
                alert('Call SID:' + twilioCallSID);
                connection.disconnect();
                createTwilioCallTask();
                clearAllData();
            }

            function createTwilioCallTask() {
                var caseFileId = '{!cf_CurrentCaseFile.Id}';
                var taskDescription = document.getElementById('activityDesc').value;
                alert(taskDescription);

                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.upr_twilioTaskRemoteJS.createCallTask}',
                    caseFileId, taskDescription, twilioCallSID, 
                    function(result, event){
                        if (event.status) {
                            alert('Success!',result);
                        } 
                    }, 
                    {escape: true}
                );
            }

            
            function atLeastOneRadio() {
                return ($('input[type=radio]:checked').size() > 0);
            }

            $('#hangButton').click(function(){
                    $('#callButtonDiv').toggle();
                    $('#hangupButtonsDiv').toggle();
            });

            $("#muteButton").click(function() {
                var connection = Twilio.Device.activeConnection();
                if ( $('#muteButton').hasClass('btn-mute') ) {
                    connection.mute(true);
                    $('#status').text("Call muted");
                } else if ( $('#muteButton').hasClass('btn-unmute') ) {
                    connection.mute(false);
                    $('#status').text("Call unmuted");
                } 
            });

            function clearAllData() {           
                $("table[id$=selectPhoneNum] input:radio").each(function (i, x){
                    $(x).removeAttr("disabled");
                    if($(x).is(":checked")){
                        $(x).removeAttr("checked");
                    }
                });
                $('#activityDesc').val("");
                $('#callButtonDiv').toggle();
                $('#hangupButtonsDiv').toggle();
            }


        </script>
    </head>  
    <apex:form id="callForm"  >
        <div class="radio" style="font-weight:900;">
            <apex:selectRadio styleClass="radio" id="selectPhoneNum" style="margin-left:120px;font-weight:900;" layout="pageDirection" value="{!clientDialPhone}">
              <apex:selectOptions value="{!contactPhones}"/>    
            </apex:selectRadio>
        </div>
    

    <div class="form-group" style="margin-left:25px; width:400px;">
        <label for="activityDesc">Comments:</label>
        <textarea class="form-control" rows="6" id="activityDesc" style="border-style:inset;border-width:5px;border-color: #899096;"></textarea>
    </div>
    </apex:form>
    <br/>
    <div id="status" style="margin-left:160px;font-weight:bold;">OFFLINE</div>
    <div class="form-inline" style="margin-left:30px;">
        <span id="callButtonDiv">
            <button id="callButton" class="btn-call" style="margin-left:125px;" onclick="call();"> 
                <span class="glyphicon glyphicon-phone-alt" style="padding-right:10px;"></span> Call
            </button>
        </span>
        <span id="hangupButtonsDiv" style="display: none;">
            <button id="hangButton" class="btn-hang" style="margin-left:60px;" onclick="hangup();" >
                <span class="glyphicon glyphicon-remove" style="padding-right:10px;"></span> Hangup
            </button>

            <button id="muteButton" class="btn-mute">
                <span class="glyphicon glyphicon-volume-off" style="padding-right:10px;"></span> Mute
            </button>
        </span>
    </div>

    <script type="text/javascript">
        jQuery(function ($) {
                $('#muteButton').on('click', function () {
                    var $el = $(this),
                        textNode = this.lastChild;
                    $el.find('span').toggleClass('glyphicon-volume-off glyphicon-volume-up');
                    textNode.nodeValue = ($el.hasClass('btn-mute') ? 'Unmute' : 'Mute')
                    $el.toggleClass('btn-mute btn-unmute');
                });
            });
    </script>
    
</apex:page>